In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data_science_job.csv")

In [6]:
df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
3946,5352,city_100,0.887,Male,Has relevent experience,no_enrollment,Graduate,No Major,2.0,10/49,Pvt Ltd,50.0,0.0
9555,30823,city_50,0.896,Female,Has relevent experience,Full time course,Graduate,STEM,4.0,10/49,Pvt Ltd,23.0,0.0
4663,22687,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,1.0,1000-4999,Pvt Ltd,131.0,0.0
9648,832,city_23,0.899,Male,Has relevent experience,no_enrollment,Graduate,STEM,9.0,1000-4999,Pvt Ltd,22.0,1.0
3142,18922,city_21,0.624,NaN,No relevent experience,NaN,Graduate,STEM,4.0,NaN,NaN,7.0,0.0

## Checking how much data from a particular column is missing
##### if it is less than 5% then we will apply CCA otherwise it will not be beneficial for us

In [7]:
df.isnull().mean()*100

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [10]:
cols = [var for var in df.columns if df[var].isnull().mean() < 0.05 and df[var].isnull().mean() > 0]
cols

['city_development_index',
 'enrolled_university',
 'education_level',
 'experience',
 'training_hours']