In [2]:
import pandas as pd
import requests

In [20]:
df=pd.DataFrame(response.json())

In [27]:
import requests

url = "https://weatherbit-v1-mashape.p.rapidapi.com/forecast/3hourly"

querystring = {"lat":"35.5","lon":"-78.5"}

headers = {
	"X-RapidAPI-Key": "9c28b2e736msh47528d69977805fp135411jsnda8268d82662",
	"X-RapidAPI-Host": "weatherbit-v1-mashape.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [28]:
df2 = pd.DataFrame(response.json())

In [34]:
df2.describe

<bound method NDFrame.describe of                                                  data  city_name state_code  \
0   {'wind_dir': 280, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
1   {'wind_dir': 350, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
2   {'wind_dir': 20, 'ghi': 78.25, 'dhi': 42.57, '...  Four Oaks         NC
3   {'wind_dir': 40, 'ghi': 659.18, 'dhi': 107.63,...  Four Oaks         NC
4   {'wind_dir': 330, 'ghi': 831.37, 'dhi': 117.99...  Four Oaks         NC
5   {'wind_dir': 250, 'ghi': 435.67, 'dhi': 90.91,...  Four Oaks         NC
6   {'wind_dir': 200, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
7   {'wind_dir': 180, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
8   {'wind_dir': 190, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
9   {'wind_dir': 220, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
10  {'wind_dir': 260, 'ghi': 82.63, 'dhi': 43.65, ...  Four Oaks         NC
11  {'wind_dir': 290, 'ghi': 664.49, 'dhi': 107.94...  Four Oaks         NC
12  {'wind_dir': 270, 'ghi': 835.79, 'dhi': 118.19...  Four Oaks         NC
13  {'wind_dir': 240, 'ghi': 439.15, 'dhi': 91.18,...  Four Oaks         NC
14  {'wind_dir': 230, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
15  {'wind_dir': 250, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
16  {'wind_dir': 320, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
17  {'wind_dir': 340, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
18  {'wind_dir': 350, 'ghi': 87.05, 'dhi': 44.7, '...  Four Oaks         NC
19  {'wind_dir': 330, 'ghi': 669.76, 'dhi': 108.25...  Four Oaks         NC
20  {'wind_dir': 310, 'ghi': 840.15, 'dhi': 118.39...  Four Oaks         NC
21  {'wind_dir': 300, 'ghi': 442.6, 'dhi': 91.45, ...  Four Oaks         NC
22  {'wind_dir': 320, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
23  {'wind_dir': 330, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
24  {'wind_dir': 320, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
25  {'wind_dir': 300, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
26  {'wind_dir': 290, 'ghi': 91.52, 'dhi': 45.73, ...  Four Oaks         NC
27  {'wind_dir': 280, 'ghi': 675, 'dhi': 108.55, '...  Four Oaks         NC
28  {'wind_dir': 270, 'ghi': 844.46, 'dhi': 118.59...  Four Oaks         NC
29  {'wind_dir': 250, 'ghi': 446.01, 'dhi': 91.71,...  Four Oaks         NC
30  {'wind_dir': 230, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
31  {'wind_dir': 235, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
32  {'wind_dir': 240, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
33  {'wind_dir': 245, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
34  {'wind_dir': 250, 'ghi': 96.03, 'dhi': 46.74, ...  Four Oaks         NC
35  {'wind_dir': 260, 'ghi': 680.2, 'dhi': 108.84,...  Four Oaks         NC
36  {'wind_dir': 270, 'ghi': 848.71, 'dhi': 118.78...  Four Oaks         NC
37  {'wind_dir': 280, 'ghi': 449.38, 'dhi': 91.96,...  Four Oaks         NC
38  {'wind_dir': 290, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC
39  {'wind_dir': 325, 'ghi': 0, 'dhi': 0, 'precip'...  Four Oaks         NC

   country_code          timezone   lat   lon
0            US  America/New_York  35.5 -78.5
1            US  America/New_York  35.5 -78.5
2            US  America/New_York  35.5 -78.5
3            US  America/New_York  35.5 -78.5
4            US  America/New_York  35.5 -78.5
5            US  America/New_York  35.5 -78.5
6            US  America/New_York  35.5 -78.5
7            US  America/New_York  35.5 -78.5
8            US  America/New_York  35.5 -78.5
9            US  America/New_York  35.5 -78.5
10           US  America/New_York  35.5 -78.5
11           US  America/New_York  35.5 -78.5
12           US  America/New_York  35.5 -78.5
13           US  America/New_York  35.5 -78.5
14           US  America/New_York  35.5 -78.5
15           US  America/New_York  35.5 -78.5
16           US  America/New_York  35.5 -78.5
17           US  America/New_York  35.5 -78.5
18           US  America/New_York  35.5 -78.5
19           US  America/New_York  35.5 -78.5
20           US  America/New_York  35.5 -78.5
21           US  America/New_York  35.5 -78.5
22           US  America/New_York  35.5 -78.5
23           US  America/New_York  35.5 -78.5
24           US  America/New_York  35.5 -78.5
25           US  America/New_York  35.5 -78.5
26           US  America/New_York  35.5 -78.5
27           US  America/New_York  35.5 -78.5
28           US  America/New_York  35.5 -78.5
29           US  America/New_York  35.5 -78.5
30           US  America/New_York  35.5 -78.5
31           US  America/New_York  35.5 -78.5
32           US  America/New_York  35.5 -78.5
33           US  America/New_York  35.5 -78.5
34           US  America/New_York  35.5 -78.5
35           US  America/New_York  35.5 -78.5
36           US  America/New_York  35.5 -78.5
37           US  America/New_York  35.5 -78.5
38           US  America/New_York  35.5 -78.5
39           US  America/New_York  35.5 -78.5  >

In [35]:
df2.shape

(40, 7)

In [36]:
df2.to_csv("weather.csv")

In [45]:
import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {"interval":"5min","function":"TIME_SERIES_INTRADAY","symbol":"MSFT","datatype":"json","output_size":"compact"}

headers = {
	"X-RapidAPI-Key": "9c28b2e736msh47528d69977805fp135411jsnda8268d82662",
	"X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

df = pd.DataFrame(response.json())

In [46]:
df

,Meta Data,Time Series (5min)
1. Information,"Intraday (5min) open, high, low, close prices ...",NaN
2. Symbol,MSFT,NaN
3. Last Refreshed,2024-03-15 19:55:00,NaN
4. Interval,5min,NaN
5. Output Size,Compact,NaN
...,...,...
2024-03-15 12:00:00,NaN,"{'1. open': '415.2500', '2. high': '415.8300',..."
2024-03-15 11:55:00,NaN,"{'1. open': '415.3800', '2. high': '415.5600',..."
2024-03-15 11:50:00,NaN,"{'1. open': '415.3900', '2. high': '415.8000',..."
2024-03-15 11:45:00,NaN,"{'1. open': '415.7200', '2. high': '415.8340',..."
2024-03-15 11:40:00,NaN,"{'1. open': '416.3950', '2. high': '416.4200',..."

In [47]:
df.shape

(106, 2)

In [48]:
df.to_csv("Cryptocurrency.csv")

In [ ]:
import requests

url = "https://moviesdatabase.p.rapidapi.com/titles/series/%7BseriesId%7D"

headers = {
	"X-RapidAPI-Key": "9c28b2e736msh47528d69977805fp135411jsnda8268d82662",
	"X-RapidAPI-Host": "moviesdatabase.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

In [ ]:
df4 = pd.DataFrame(response.json())

In [ ]:
df4

In [53]:
df4.shape

(6, 18)

In [54]:
df4.to_csv("Location_from_IP.csv")